<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="io.github.smu.part">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.WRITE_OWNER_DATA"/>
    <uses-permission android:name="android.permission.READ_OWNER_DATA"/>
    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup"
        android:icon="@drawable/part_img"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:largeHeap="true"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name="io.github.smu.part.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="io.github.smu.part.TmapMain"/>
        <activity android:name="io.github.smu.part.PartyActivity"/>
        <activity android:name="io.github.smu.part.PlanActivity"/>
        <activity android:name="io.github.smu.part.LoginActivity"/>
        <activity android:name="io.github.smu.part.MyPage"/>
        <activity android:name="io.github.smu.part.RegisterActivity"/>
        <activity android:name="io.github.smu.part.LocalSearchActivity"/>
        <activity android:name="io.github.smu.part.EditActivity"
            android:windowSoftInputMode="adjustResize">
        </activity>
        <activity android:name="io.github.smu.part.TravelCourseActivity"/>
        <activity android:name="io.github.smu.part.DetailActivity"/>
        <activity android:name="io.github.smu.part.FoodActivity"/>
        <activity android:name="io.github.smu.part.LeisureActivity"/>
        <activity android:name="io.github.smu.part.HotelActivity"/>
        <activity android:name="io.github.smu.part.PartyDataActivity"/>

    </application>

</manifest>